{% extends 'layout.html.twig' %}

{% block title %}
	File Imports
{% endblock %}

{% block content %}
	<div class="container">
		<div class="row my-5">
			<div class="col-md-6">
				<div class="card">
					<div class="card-header">
						File Imports
					</div>
					<ul class="list-group list-group-flush">
						<li class="list-group-item">
							<a href="/file_imports/import_brands" class="card-link link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Import Brands</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
