{% extends 'layout.html.twig' %}

{% block content %}
	<div class="container my-5 bg-white shadow p-3 rounded">
		<table class="table table-dark table-striped">
			<caption>Categories List</caption>
			<thead>
				<tr>
					<th scope="col">ID</th>
					<th scope="col">Category Name</th>
					<th scope="col">Category Description</th>
				</tr>
			</thead>
			<tbody>
				{% for category in categories %}
					<tr>
						<th scope="row">{{category.id}}</th>
						<td>{{category.name}}</td>
						<td>{{category.description}}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
